@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
	font-family: "Ubuntu", sans-serif;
}

.title-and-desc{
	background-image: url("../../img/banner_bg.jpg");
	min-height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 2rem;
}

.project-info{
    padding-top: 20rem;
}

.title{
	font-size: 3rem;
	font-weight: bold;
}

.desc{
	font-size: 1.2rem;
}
